{{!-- <nav id="secondary-menu" class="right menu">
    <ul>
        <li id="toggle-set-selector-item"><a href="#set/sets" title="Click to show the set selector" data-title-set="Click to go back to the last set you looked at" data-title-selector="Click to show the set selector" ><img src="imgs/icons/change.png"/></a></li>
        <li id="show-cell-infos-item"><a href="#" title="Click to toggle cell infos"><img src="imgs/icons/info.png"/></a></li>
        <li id="go-to-help-item"><a href="#set/general-information" title="Help and general information"><img src="imgs/icons/help.png"/></a></li>
        <!-- <li id="link-to-set-item"><a href="#" title="Click to share this page"><img src="imgs/icons/link.png"/></a></li> -->
        <!-- <li id="edit-set-item"><a href="#" title="Click to edit this set"><img src="imgs/icons/edit.png"/></a></li> -->
    </ul>
</nav> --}}

<nav id="main-menu" class="menu">
    <ul>
        <li class="special set-link" data-setid="{{overview_id}}"><a href="#/set/sets">Overview</a></li>
        <li class="special set-link" data-setid="{{info_id}}"><a href="#/set/info">General Information</a></li>
        <li class="special line-below"><a href="http://motionbank.org/">Motion Bank Main Website</a></li>
        {{#each setLinks}}
        <li class="set-link" data-setid="{{this.id}}"><a href="{{this.url}}">{{this.title}}</a></li>
        {{/each}}
        <li class="special line-above show-info-link"><a href="#"></a></li>
    </ul>
</nav>